@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&family=Saira+Extra+Condensed:wght@300&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0);
.font-f-Noto{
    font-family: 'Noto Sans TC', sans-serif;
}
.font-f-Saira{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.font-f-Shrikhand{
    font-family: 'Shrikhand', cursive;
}




