<footer class="d-none d-md-block py-11 bg-white">
    <div class="d-flex justify-content-between container align-items-center">
        <div>
            <h4 class="fs-17 mb-0">
                <a href="#" class="font-f-Shrikhand text-black">ALPHABOX+</a>
            </h4>
            <p class="letter-spacing-xs fw-bold">Copyright © 2023 Hexschool.</p>
        </div>
        <span class="material-symbols-outlined">
            emergency
        </span>
        <ul class="d-flex gap-2 gap-lg-5">
            <li><a href="about.html" class="text-black fw-bold">關於我們</a></li>
            <li><a href="#" class="text-black fw-bold">產品資訊</a></li>
            <li><a href="#" class="text-black fw-bold">常見問題</a></li>
            <li><a href="#" class="text-black fw-bold">隱私政策</a></li>
        </ul>
    </div>
</footer>
<footer class="container-fluid d-block d-md-none d-flex flex-column justify-content-between py-9 bg-white">
    <div class="container">
        <h4 class="fs-17 mb-2">
            <a href="#" class="font-f-Shrikhand text-black">ALPHABOX+</a>
        </h4>
        <span class="material-symbols-outlined mb-2">
            emergency
        </span>
        <ul class="d-flex flex-column gap-2 mb-2">
            <li><a href="about.html" class="text-black fw-bold">關於我們</a></li>
            <li><a href="#" class="text-black fw-bold">產品資訊</a></li>
            <li><a href="#" class="text-black fw-bold">常見問題</a></li>
            <li><a href="#" class="text-black fw-bold">隱私政策</a></li>
        </ul>
        <p class="letter-spacing-xs fw-bold">Copyright © 2023 Hexschool.</p>
    </div>
</footer>